<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Carro</title>
</head>
<body>
    <h1>Cadastrar Novo Carro</h1>
    <form method="post">
        <label for="modelo">Modelo:</label>
        <input type="text" name="modelo" placeholder="Modelo" required><br>
        <label for="ano">Ano:</label>
        <input type="number" name="ano" placeholder="Ano" required><br>
        <label for="placa">Placa:</label>
        <input type="text" name="placa" placeholder="Placa" required><br>
        <label for="renavan">Renavan:</label>
        <input type="text" name="renavan" placeholder="Renavan" required><br>
        <label for="cor">Cor:</label>
        <input type="text" name="cor" placeholder="Cor" required><br>
        <label for="valor_fip">Valor FIP:</label>
        <input type="number" name="valor_fip" placeholder="Valor FIP" required><br>
        <label for="valor_compra">Valor de Compra:</label>
        <input type="number" name="valor_compra" placeholder="Valor de Compra" required><br>
        <label for="despesas">Despesas:</label>
        <input type="number" name="despesas" placeholder="Despesas" required><br>
        <label for="local_compra">Onde foi comprado:</label>
        <input type="text" name="local_compra" placeholder="Onde foi comprado" required><br>
        <label for="vendedor">Com quem foi comprado:</label>
        <input type="text" name="vendedor" placeholder="Com quem foi comprado" required><br>
        <label for="telefone_vendedor">Telefone do vendedor:</label>
        <input type="text" name="telefone_vendedor" placeholder="Telefone do vendedor" required><br>
        <label for="venda">Venda:</label>
        <input type="text" name="venda" placeholder="Venda" required><br>
        <label for="comprador">Pra quem foi vendido:</label>
        <input type="text" name="comprador" placeholder="Pra quem foi vendido" required><br>
        <label for="valor_venda">Por quanto foi vendido:</label>
        <input type="number" name="valor_venda" placeholder="Por quanto foi vendido" required><br>
        <label for="tipo_venda">Como foi vendido:</label>
        <input type="text" name="tipo_venda" placeholder="Como foi vendido (troca ou não)" required><br>
        <label for="cliente_nome">Nome do Cliente:</label>
        <input type="text" name="cliente_nome" placeholder="Nome do Cliente" required><br>
        <label for="cliente_cpf">CPF do Cliente:</label>
        <input type="text" name="cliente_cpf" placeholder="CPF do Cliente" required><br>
        <label for="cliente_endereco">Endereço do Cliente:</label>
        <input type="text" name="cliente_endereco" placeholder="Endereço do Cliente" required><br>
        <button type="submit">Registrar Carro</button>
    </form>
    <a href="{{ url_for('index') }}">Voltar</a>
</body>
</html>